* {
    box-sizing: border-box;
    font-family: Arial, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", -apple-system, sans-serif;
    font-size: 14px;
    color: #000;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

#root {
    width: 40%;
    margin: 3% 0;
}

#logo {
    position: relative;
    z-index: 10;
}

h1 {
    position: relative;
    margin: 16px 0 32px 0;
    font-size: 1.5rem;
    z-index: 10;
}

#load-screen,
#success-wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 24px 18px;
}

#phones a {
    color: #1a76cb;
    outline: none;
    text-decoration: none;
}

select {
    background-image: url('./assets/arrow.png');
    background-repeat: no-repeat;
    background-position: right 0px center;
    background-size: 30px;
    cursor: pointer;
}

select,
input {
    background-color: #e8e8e8;
    height: 50px;
    width: 100%;
    padding: 7px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    appearance: none;
    outline: none;
    font-size: 1.2rem;
    transition: all 250ms;
    user-select: none;
}

select:focus,
input:focus {
    background-color: #fff;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    transition: all 250ms;
}

select.invalid,
input.invalid,
input.invalid::placeholder {
    background-color: #fae5e8;
    color: #db001b !important;
    transition: all 250ms;
}

select:disabled {
    cursor: not-allowed;
}

option {
    margin: 10px 0;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: #000;
}

option:disabled {
    display: none;
}

#date-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

label {
    color: #db001b;
}

#accept-btn,
#success-btn {
    display: block;
    height: 50px;
    width: 30%;
    margin: 20px auto;
    border-radius: 30px;
    border: none;
    outline: none;
    background: #db001b;
    color: #fff;
    font-size: 1.25rem;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#accept-btn:disabled {
    background: #8b8b8b;
    color: #fff;
    box-shadow: none;
    cursor: not-allowed;
}

.footer {
    margin-top: 10px;
}

.footer span {
    color: #8b8b8b;
    margin: 2px;
    font-size: 0.75rem;
}

.footer a {
    font-size: 0.75rem;
    color: #1a76cb;
    outline: none;
    text-decoration: none;
}

#success {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.19);
}

#success h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #007E33;
}

#orders-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 15;
}

#orders-wrap span {
    padding: 6px;
    font-size: 1.25rem;
    text-align: center;
    border: 1px solid;
}

#orders-wrap span:last-child {
    border: none;
}

#orders-header,
.table-item {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 32px 16px 16px 16px;
}

.table-item {
    margin: 1px 16px;
}

#orders-table {
    display: flex;
    flex-direction: column;
}

.del-btn {
    background: none;
    width: 24px;
    height: 24px;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
}